* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

#page1,
#page2,
#page3 {
  height: 100vh;
  width: 100vw;
}

#move {
  background-color: #d8ff04;
  display: flex;
  padding: 3vh;
  overflow-x: hidden;
}

#marque {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px 15px;
  transform: translateX(0%);
}

#marque h1 {
  font-size: 60px;
}

#marque #second {
  font-size: 60px;
}
